%p#notice= notice

%p
  %b= "#{lbl @menu_item, :name}:"
  = @menu_item.name
%p
  %b Category
  = @menu_item.category.name
%p
  %b= "#{lbl @menu_item, :keyword_list_text}:"
  = @menu_item.keyword_list_text

= link_to 'Edit', edit_menu_item_path(@menu_item)
\|
= link_to 'Back', menu_items_path
