%p#notice= notice

%p
  %b= "#{lbl @menu_item, :name}:"
  = @menu_item.name
%p
  %b= "#{lbl @menu_item, :category_list}:"
  = @menu_item.category_list

= link_to 'Edit', edit_menu_item_path(@menu_item)
\|
= link_to 'Back', menu_items_path
