%p= link_to 'New Category', new_category_path
.row-fluid#categories-main
  .span2#edit-pane
    #edit-container
      = content_tag :textarea, '', id: 'menu-text'
      %p= link_to 'クリア', '#', id: 'clear-text'
  .span9#categories-pane
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1"} Category
        %li
          %a{"data-toggle" => "tab", :href => "#tab2"} Keyword
      #my-tab-content.tab-content
        #tab1.tab-pane.active
          #categories
            - @categories.each do |category|
              %h3.category-name= category.name
              .menu-items.well
                - category.menu_items.sort{|a, b| a.name.hiragana <=> b.name.hiragana}.each do |menu_item|
                  %span.menu-item.label.label-warning= menu_item.name
        #tab2.tab-pane
          %h3 キーワード
          - keywords = MenuItem.tag_counts_on(:keywords)
          - sorted_keywords = keywords.sort{|a, b| a.name.hiragana <=> b.name.hiragana}
          .well#tag-cloud
            - tag_cloud(sorted_keywords, %w(tag1 tag2 tag3 tag4)) do |keyword, css_class|
              = link_to keyword.name, "##{keyword.name}", class: "label label-warning #{css_class}"
          #keywords
            - sorted_keywords.each do |keyword|
              %h3
                = content_tag :a, keyword.name, name: keyword.name
              .menu-items.well
                - MenuItem.tagged_with(keyword.name, on: :keywords).each do |menu_item|
                  %span.menu-item.label.label-warning= menu_item.name
                = link_to 'トップに戻る', '#', class: "label label-info"
